includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app/

#    excludePaths:
#        - ./*/ExcludedFile.php

    level: 9

    checkGenericClassInNonGenericObjectType: false
    # treatPhpDocTypesAsCertain: true
    checkOctaneCompatibility: true
    checkModelProperties: true
    checkMissingIterableValueType: false


#    ignoreErrors:
